[Unit]
Description=Atlas Direct Agent
After=network.target

[Service]
ExecStart=/bin/bash -c "pnpm start --character=atlas.character.direct.json"
WorkingDirectory=/home/ec2-user/atlas
Restart=always
User=ec2-user
Group=ec2-user
SyslogIdentifier=atlas-direct-agent

[Install]
WantedBy=multi-user.target